/*Used to select style of links in nav var*/
li a, .dropdwnBtn
{
	color: white;   /*color of text*/ 
	text-align: center;
	padding: 0.5em 1em;
    text-decoration: none;
	display: block; /*displays as a block making whole link clickable*/
}

ul{
	margin:0; 	/*no space between edges*/
	padding:0; /*no padding around nav bar*/ 
	overflow: hidden;
	background-color: black;
	list-style-type: none;

}
.ul2{
	background-color: #222;
}

/*color changes background to grey and color of text black on hover*/
li a:hover, .dropdown:hover
{
	background-color: grey;
	color: black;
}

li.dropdown
{
	display: inline-block;
}

.dropdownContent
{
	display: none;
	background-color: white;
}

.dropdownContent a
{
	color: black;
	padding: 5em;
	display: block;
	text-align: left;
	text-decoration: none;
}

.dropdownContent a:hover
{
	background-color: #cccccc;
}

.dropdown:hover .dropdownContent
{
	display: block;
}

/*ensures everything is horizontal*/
li{
	float:left;
}


body{
	background-color: #333;
}

.div1{
	
	background-color: white;
	color: black;
	margin-right:10em; 
	margin-left:10em;
	margin-top: 10em;
	text-align: center;
	width: 60%;
	font-size: 1em;
	
	

}
